<footer>
  <div class="container-footer">
    <div class="row-footer">
      <!-- footer col-->
      <div class="footer-col">
        <figure class="text-center">
          <blockquote class="blockquote">
            <p style="color: white;">
              Livro bom é livro que a gente passa à diante. O prazer da leitura não
              pode ser restrito.
            </p>
          </blockquote>
          <figcaption class="blockquote-footer" style="
          color: white">Caio Rossan</figcaption>
        </figure>
        <div class="medias-socias">
          <a href=""><img src="../assets/icons/github.png" width="30em"></a>
          <a href=""><img src="../assets/icons/facebook.png" width="30em"></a>
          <a href=""><img src="../assets/icons/instagram.png" width="30em"></a>
          <a href="
          "><i class="fa-brands fa-facebook"></i></a>
        </div>
      </div>
      <!--end footer col-->

      <!-- footer col-->
      <div class="footer-col">
        <div class="d-flex flex-row">
          <h4>Mande uma mensagem</h4>
          <img class="img-footer" src="../assets/opened-mailbox.svg" alt="" />
        </div>
        <div class="form-sub">
          <form>
            <input
              type="text"
              placeholder="Digite o seu nome"
              required
              class="mt-3 form-control"
            />
            <input
              type="email"
              placeholder="Digite o seu e-mail"
              required
              class="mt-3 form-control"
            />
            <textarea
              placeholder="Digite sua mensagem"
              required
              class="mt-3 form-control text-bg-color input"
            ></textarea>
            <button class="btn btn-success mt-4">enviar</button>
          </form>
        </div>
      </div>
      <!--end footer col-->
    </div>
  </div>
</footer>

<!-- <marquee behavior="" direction="right">
  <img class="img-footer" src="../assets/opened-mailbox.svg" alt=""/>
</marquee> -->