<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand d-lg-none" href="#"><img class="img-fluid logo" src="../assets/logo-principal.svg"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbarToggler7"
        aria-controls="myNavbarToggler7" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="myNavbarToggler7">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item">
                <a class="nav-link" href="/sobre">Sobre</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/acervo">Acervo</a>
            </li>
            <a class="d-none d-lg-block" href="/home"><img class="img-fluid logo" src="../assets/logo-principal.svg"></a>
            <li class="nav-item">
                <a class="nav-link" href="/contato">Contato</a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn btn-sui-pink" href="/cadastro">Faça seu cadastro</a>
            </li>
        </ul>
    </div>
</nav>
