.navbar .navbar-nav .nav-link {
    color: #000000;
    font-size: 1.1em;
}
.navbar .navbar-nav .nav-link:hover{
    color: #85C8C0;
}
.navbar-logo-centered .navbar-nav .nav-link{
    padding: .5em 1em;
}
.logo {
    width: 10em;
}
.nav-item {
    margin-top: 1em;
    margin-right: 8em;
    margin-left: 8em;
    font-size: 0.9em;
}
.btn-sui-pink {
    border-color: #85C8C0;
}