.service-icon {
    width: 5em;
}
// .services-bg {
//     background-image: url('/assets/Shape Abstract Donut by Streamlinehq.svg');
//     background-repeat: no-repeat;
//     background-size: 100% 100%;
//     background-position: center;
// }
.services-bg{
    outline: 1px solid red;
    padding-top: 4em;
    padding-bottom: 5em;
}
.picsum-img-wrapper img {
    width: 95%;
    overflow-x: hidden;
}
