.service-icon {
  width: 5em;
}
// .services-bg {
//     background-image: url('/assets/Shape Abstract Donut by Streamlinehq.svg');
//     background-repeat: no-repeat;
//     background-size: 100% 100%;
//     background-position: center;
// }

p {
  font-weight: 300;
}
.about-bg {
  padding-top: 4em;
  padding-bottom: 4em;
  outline: 1px solid red;
}
.about-img {
  width: 15em;
}
.quote-bg-color {
  background-color: white;
  padding-top: 5em;
  padding-bottom: 5em;
}
.quote-bg-img {
  background-color: #FCF6F1;
  padding-top: 4em;
  padding-bottom: 4em;
}
.services-bg {
  padding-top: 4em;
  padding-bottom: 4em;
  outline: 1px solid red;
}
.picsum-img-wrapper img {
  width: 95%;
  overflow-x: hidden;
}


