// * {
//   outline: 1px solid red;
// }
p {
  font-weight: 300;
}
.about-bg {
  padding-top: 6em;
  padding-bottom: 6em;
}
.about-img {
  width: 15em;
}
.quote-bg-color {
  background-color: white;
  padding-top: 6em;
  padding-bottom: 6em;
}
.quote-bg-img {
  background-color: #FCF6F1;
  padding-top: 4em;
  padding-bottom: 4em;
}
.services-bg {
  padding-top: 10em;
  padding-bottom: 10em;
}
.service-icon {
  width: 5em;
}
.picsum-img-wrapper img {
  width: 95%;
  overflow-x: hidden;
}




