<!-- hero -->
<ngb-carousel *ngIf="images">
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper text-center">
      <div
        style="
          background-image: url('...');
          background-size: cover;
          height: 85vh;
        "
      ></div>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper text-center">
      <div
        style="
          background-image: url('...');
          background-size: cover;
          height: 85vh;
        "
      ></div>
    </div>
  </ng-template>
</ngb-carousel>

<!-- about -->
<div class="col-12 about-bg">
  <div class="d-flex flex-row align-items-center">
    <div class="col-6 text-center">
      <img class="about-img" src="../assets/books.svg" alt="books" />
    </div>
    <div class="col-6 text-center p-1">
      <h2>A Biblioteca Suindará</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi
        consequuntur quaerat pariatur ullam, tenetur placeat doloribus harum
        aperiam blanditiis dignissimos explicabo officiis nihil quisquam quam
        ut, dolor voluptatem. Ad, incidunt.
      </p>
    </div>
  </div>
</div>

<!-- quote -->
<div
  class="col-12 d-flex align-items-center justify-content-center quote-bg-img"
>
  <div class="col-9 quote-bg-color">
    <figure class="text-center">
      <blockquote class="blockquote">
        <p>
          Livro bom é livro que a gente passa à diante. O prazer da leitura não
          pode ser restrito.
        </p>
      </blockquote>
      <figcaption class="blockquote-footer">Caio Rossan</figcaption>
    </figure>
  </div>
</div>

<!-- services -->
<div class="col-12 services-bg">
  <div class="col-12 text-center services-title">
    <h2>Serviços oferecidos</h2>
  </div>
  <div class="d-flex flex-row text-center">
    <div class="col-4 d-flex flex-column">
      <app-book></app-book>
      <h5>Empréstimos de livros</h5>
    </div>
    <div class="col-4 d-flex flex-column">
      <app-disabled></app-disabled>
      <h5>Acessibilidade</h5>
    </div>
    <div class="col-4 d-flex flex-column">
      <app-heart></app-heart>
      <h5>Agenda Cultural</h5>
    </div>
  </div>
</div>

<!-- testemonials -->
<!-- <div
  id="carouselExampleFade"
  class="carousel slide carousel-fade"
  data-bs-ride="carousel"
>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="../assets/Sub-page - Depoimentos.svg"
        class="d-block w-100"
        alt="..."
      />
    </div>
    <div class="carousel-item">
      <img
        src="../assets/Sub-page - Depoimentos.svg"
        class="d-block w-100"
        alt="..."
      />
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleFade"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleFade"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div> -->
